body {
  background-color: white;
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; /* step 2 */
}

nav {
  background-color: #404040; /* removed transparency personal preference*/
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  margin: 50px auto 20px auto;
  font-size: 3em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  margin: 20px auto;
  line-height: 1.5em;
}

figcaption {
  line-height: 2em;
}

p {
  margin: 1em auto;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #aaa;
  font-size: 1.1em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author {
  font-style: italic;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
